<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>displayschool</h1>
        <table border="=1px">
            <tr><th>scname</th>
            <th>scprincipal</th>
            <th>sclocation</th>
        </tr>

            {% for SO in QLSO %}
              <tr>
                <td>{{SO.scname}}</td>
                <td>{{SO.scprincipal}}</td>
                <td>{{SO.sclocation}}</td>
              </tr>
            {% endfor %}
        </table>

    </center>
</body>
</html>

